In [123]:
from pymongo import MongoClient
import pandas as pd
import ast

### Data Collection

In [3]:
client = MongoClient('mongodb+srv://saravananjaysri:L2JNimDvJAoownoH@cluster0.kpkykan.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['sample_airbnb']
collection = db['listingsAndReviews']
data = collection.find()

In [4]:
df = pd.DataFrame(list(data))
df.head()

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,...,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': 2016-01-03 05:00:...",NaN,NaN,NaN
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"There´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1282196', 'host_url': 'https://ww...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],1492.00,4849.00,NaN
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis",...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '5448114', 'host_url': 'https://ww...","{'street': 'Honolulu, HI, United States', 'sub...","{'availability_30': 16, 'availability_60': 46,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '4765259', 'date': 2013-05-24 04:00:0...",650.00,2150.00,NaN
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '11275734', 'host_url': 'https://w...","{'street': 'Brooklyn, NY, United States', 'sub...","{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '61050713', 'date': 2016-01-31 05:00:...",NaN,NaN,NaN
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,,Quarto com vista para a Lagoa Rodrigo de Freit...,,,,,...,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51496939', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 28, 'availability_60': 58,...",{},[],NaN,NaN,NaN

### Data Understanding & preprocessing

In [5]:
df1 = df.copy()

In [6]:
df1 = df1[['_id', 'listing_url', 'name', 'property_type', 'room_type', 'bed_type','minimum_nights', 
       'maximum_nights', 'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'price', 'cleaning_fee', 'extra_people', 'guests_included', 'images', 'review_scores']]

In [7]:
df1['images'] = df1['images'].apply(lambda x: x['picture_url'])
df1['review_scores'] = df1['review_scores'].apply(lambda x: x.get('review_scores_rating', 0))

In [8]:
df1.shape

(5555, 19)

In [9]:
df1.columns

Index(['_id', 'listing_url', 'name', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'accommodates', 'bedrooms', 'beds',
       'number_of_reviews', 'bathrooms', 'price', 'cleaning_fee',
       'extra_people', 'guests_included', 'images', 'review_scores'],
      dtype='object')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                5555 non-null   object
 1   listing_url        5555 non-null   object
 2   name               5555 non-null   object
 3   property_type      5555 non-null   object
 4   room_type          5555 non-null   object
 5   bed_type           5555 non-null   object
 6   minimum_nights     5555 non-null   object
 7   maximum_nights     5555 non-null   object
 8   accommodates       5555 non-null   int64
 9   bedrooms           5550 non-null   float64
 10  beds               5542 non-null   float64
 11  number_of_reviews  5555 non-null   int64
 12  bathrooms          5545 non-null   object
 13  price              5555 non-null   object
 14  cleaning_fee       4024 non-null   object
 15  extra_people       5555 non-null   object
 16  guests_included    5555 non-null   object
 17  images             5555 non-null   object
 18  review_scores      5555 non-null   int64
dtypes: float64(2), int64(3), object(14)
memory usage: 824.7+ KB

In [11]:
null_counts = df1.isnull().sum()
columns_with_nulls = null_counts[null_counts > 0]
print(columns_with_nulls)

bedrooms           5
beds              13
bathrooms         10
cleaning_fee    1531
dtype: int64

**Handling missing values**

In [12]:
null_cols = df1.columns[df1.isnull().any()]
df1[null_cols] = df1[null_cols].fillna(0)

In [13]:
df1.isnull().sum()

_id                  0
listing_url          0
name                 0
property_type        0
room_type            0
bed_type             0
minimum_nights       0
maximum_nights       0
accommodates         0
bedrooms             0
beds                 0
number_of_reviews    0
bathrooms            0
price                0
cleaning_fee         0
extra_people         0
guests_included      0
images               0
review_scores        0
dtype: int64

**Handling Type Mismatch**

In [86]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                5555 non-null   object
 1   listing_url        5555 non-null   object
 2   name               5555 non-null   object
 3   property_type      5555 non-null   object
 4   room_type          5555 non-null   object
 5   bed_type           5555 non-null   object
 6   minimum_nights     5555 non-null   object
 7   maximum_nights     5555 non-null   object
 8   accommodates       5555 non-null   int64
 9   bedrooms           5555 non-null   float64
 10  beds               5555 non-null   float64
 11  number_of_reviews  5555 non-null   int64
 12  bathrooms          5555 non-null   object
 13  price              5555 non-null   object
 14  cleaning_fee       5555 non-null   object
 15  extra_people       5555 non-null   object
 16  guests_included    5555 non-null   object
 17  images             5555 non-null   object
 18  review_scores      5555 non-null   int64
dtypes: float64(2), int64(3), object(14)
memory usage: 824.7+ KB

In [38]:
df1['minimum_nights'] = df1['minimum_nights'].astype('int')
df1['maximum_nights'] = df1['maximum_nights'].astype('int')
df1['bedrooms'] = df1['bedrooms'].astype('int')
df1['beds'] = df1['beds'].astype('int')
df1['bathrooms'] = df1['bathrooms'].astype('str').astype('float').astype('int')
df1['price'] = df1['price'].astype('str').astype('float').astype('int')
df1['cleaning_fee'] = df1['cleaning_fee'].astype('str').astype('float').astype('int')
df1['extra_people'] = df1['extra_people'].astype('str').astype('float').astype('int')
df1['guests_included'] = df1['guests_included'].astype('str').astype('float').astype('int')
df1.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,8,3,5,51,1,80,35,15,6,https://a0.muscache.com/im/pictures/e83e702f-e...,89
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,4,1,2,0,1,317,187,0,1,https://a0.muscache.com/im/pictures/5b408b9e-4...,0
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,2,1,1,96,1,115,100,0,1,https://a0.muscache.com/im/pictures/15037101/5...,84
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,1,1,1,1,1,40,0,0,1,https://a0.muscache.com/im/pictures/72844c8c-f...,100
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,2,1,1,0,2,701,250,0,1,https://a0.muscache.com/im/pictures/59c516bd-c...,0

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                5555 non-null   object
 1   listing_url        5555 non-null   object
 2   name               5555 non-null   object
 3   property_type      5555 non-null   object
 4   room_type          5555 non-null   object
 5   bed_type           5555 non-null   object
 6   minimum_nights     5555 non-null   int64
 7   maximum_nights     5555 non-null   int64
 8   accommodates       5555 non-null   int64
 9   bedrooms           5555 non-null   int64
 10  beds               5555 non-null   int64
 11  number_of_reviews  5555 non-null   int64
 12  bathrooms          5555 non-null   int64
 13  price              5555 non-null   int64
 14  cleaning_fee       5555 non-null   int64
 15  extra_people       5555 non-null   int64
 16  guests_included    5555 non-null   int64
 17  images             5555 non-null   object
 18  review_scores      5555 non-null   int64
dtypes: int64(12), object(7)
memory usage: 824.7+ KB

In [78]:
host_df = pd.DataFrame()
host_df[['_id', 'host']] = df[['_id', 'host']]
host_df.head()

        _id                                               host
0  10006546  {'host_id': '51399391', 'host_url': 'https://w...
1  10009999  {'host_id': '1282196', 'host_url': 'https://ww...
2   1001265  {'host_id': '5448114', 'host_url': 'https://ww...
3  10021707  {'host_id': '11275734', 'host_url': 'https://w...
4  10030955  {'host_id': '51496939', 'host_url': 'https://w...

In [79]:
keys = host_df['host'].iloc[0].keys()
for i in keys:
    host_df[i] = df['host'].apply(lambda x: x[i] if i in x else 'Not specified')
host_df = host_df.drop(['host', 'host_about'], axis=1)
host_df.head()

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,,100,False,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10009999,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Not specified,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,Not specified,False,True,False,1,1,"[email, phone, facebook]"
2,1001265,5448114,https://www.airbnb.com/users/show/5448114,David,"Honolulu, Hawaii, United States",within an hour,https://a0.muscache.com/im/users/5448114/profi...,https://a0.muscache.com/im/users/5448114/profi...,Waikiki,98,False,True,False,18,18,"[email, phone, reviews, kba]"
3,10021707,11275734,https://www.airbnb.com/users/show/11275734,Josh,"New York, New York, United States",Not specified,https://a0.muscache.com/im/users/11275734/prof...,https://a0.muscache.com/im/users/11275734/prof...,Bushwick,Not specified,False,True,True,1,1,"[email, phone, reviews, kba]"
4,10030955,51496939,https://www.airbnb.com/users/show/51496939,Livia,BR,Not specified,https://a0.muscache.com/im/pictures/b7911710-9...,https://a0.muscache.com/im/pictures/b7911710-9...,Lagoa,Not specified,False,True,False,1,1,"[email, phone, jumio, government_id]"

In [109]:
address_df = pd.DataFrame()
address_df[['_id', 'address']] = df[['_id', 'address']]
address_df.head()

        _id                                            address
0  10006546  {'street': 'Porto, Porto, Portugal', 'suburb':...
1  10009999  {'street': 'Rio de Janeiro, Rio de Janeiro, Br...
2   1001265  {'street': 'Honolulu, HI, United States', 'sub...
3  10021707  {'street': 'Brooklyn, NY, United States', 'sub...
4  10030955  {'street': 'Rio de Janeiro, Rio de Janeiro, Br...

In [110]:
add_keys = df['address'].iloc[0].keys()
for i in add_keys:
    if i=='location':
        address_df['location_type'] = df['address'].apply(lambda x: x['location']['type'])
        address_df['longitude'] = df['address'].apply(lambda x: x['location']['coordinates'][0])
        address_df['latitude'] = df['address'].apply(lambda x: x['location']['coordinates'][1])
        address_df['is_location_exact'] = df['address'].apply(lambda x: x['location']['is_location_exact'])
    else:
        address_df[i] = df['address'].apply(lambda x: x[i] if x[i]!='' else 'Not Specified')
address_df.drop('address', axis=1, inplace=True)
address_df.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10006546,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.613080,41.141300,False
1,10009999,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.230750,-22.966254,True
2,1001265,"Honolulu, HI, United States",Oʻahu,Primary Urban Center,Oahu,United States,US,Point,-157.839190,21.286340,True
3,10021707,"Brooklyn, NY, United States",Brooklyn,Bushwick,New York,United States,US,Point,-73.936150,40.697910,True
4,10030955,"Rio de Janeiro, Rio de Janeiro, Brazil",Lagoa,Lagoa,Rio De Janeiro,Brazil,BR,Point,-43.205047,-22.971951,True

In [112]:
availability_df = pd.DataFrame()
availability_df[['_id', 'availability']] = df[['_id', 'availability']]
availability_df.head()

        _id                                       availability
0  10006546  {'availability_30': 28, 'availability_60': 47,...
1  10009999  {'availability_30': 0, 'availability_60': 0, '...
2   1001265  {'availability_30': 16, 'availability_60': 46,...
3  10021707  {'availability_30': 0, 'availability_60': 0, '...
4  10030955  {'availability_30': 28, 'availability_60': 58,...

In [115]:
availability_keys = df['availability'].iloc[0].keys()
for i in availability_keys:
    availability_df[i] = df['availability'].apply(lambda x: x[i])
availability_df.drop('availability', axis=1, inplace=True)
availability_df.head()

,_id,availability_30,availability_60,availability_90,availability_365
0,10006546,28,47,74,239
1,10009999,0,0,0,0
2,1001265,16,46,76,343
3,10021707,0,0,0,0
4,10030955,28,58,88,363

In [ ]:
def amenities_sort(x):
    a = x
    a.sort(reverse=False)
    return a
amenties_df = pd.DataFrame()
amenties_df[['_id', 'amenities']] = df[['_id', 'amenities']]
amenties_df['amenities'] = amenties_df['amenities'].apply(lambda x: amenities_sort(x))
amenties_df

In [122]:
df['amenities'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5555 entries, 0 to 5554
Series name: amenities
Non-Null Count  Dtype
--------------  -----
5555 non-null   object
dtypes: object(1)
memory usage: 43.5+ KB

In [126]:
def sort_amenties(x):
    amenties = x
    amenties.sort(reverse = False)
    return amenties
amenties_df = pd.DataFrame()
amenties_df[['_id', 'amenities']] = df[['_id', 'amenities']]
amenties_df['amenities'] = amenties_df['amenities'].apply(lambda x: sort_amenties(x))
amenties_df

           _id                                          amenities
0     10006546  [Bed linens, Buzzer/wireless intercom, Cable T...
1     10009999  [Buzzer/wireless intercom, Essentials, Family/...
2      1001265  [Air conditioning, BBQ grill, Bed linens, Cabl...
3     10021707  [Air conditioning, Buzzer/wireless intercom, C...
4     10030955  [24-hour check-in, Air conditioning, Buzzer/wi...
...        ...                                                ...
5550   9983221  [Bed linens, Cable TV, Cleaning before checkou...
5551   9985696  [Buzzer/wireless intercom, Cable TV, Dryer, Es...
5552   9987200  [Air conditioning, Bed linens, Building staff,...
5553   9990304  [Air conditioning, Cable TV, Dryer, Essentials...
5554   9993190  [Air conditioning, Dryer, Essentials, Family/k...

[5555 rows x 2 columns]

In [130]:
merged_df = df1.merge(host_df, on='_id')
merged_df = merged_df.merge(address_df, on='_id')
merged_df = merged_df.merge(availability_df, on='_id')
merged_df = merged_df.merge(amenties_df, on='_id')
merged_df.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,accommodates,bedrooms,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,8,3,...,PT,Point,-8.613080,41.141300,False,28,47,74,239,"[Bed linens, Buzzer/wireless intercom, Cable T..."
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,4,1,...,BR,Point,-43.230750,-22.966254,True,0,0,0,0,"[Buzzer/wireless intercom, Essentials, Family/..."
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,2,1,...,US,Point,-157.839190,21.286340,True,16,46,76,343,"[Air conditioning, BBQ grill, Bed linens, Cabl..."
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,1,1,...,US,Point,-73.936150,40.697910,True,0,0,0,0,"[Air conditioning, Buzzer/wireless intercom, C..."
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,2,1,...,BR,Point,-43.205047,-22.971951,True,28,58,88,363,"[24-hour check-in, Air conditioning, Buzzer/wi..."

In [141]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 49 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   _id                        5555 non-null   object
 1   listing_url                5555 non-null   object
 2   name                       5555 non-null   object
 3   property_type              5555 non-null   object
 4   room_type                  5555 non-null   object
 5   bed_type                   5555 non-null   object
 6   minimum_nights             5555 non-null   int64
 7   maximum_nights             5555 non-null   int64
 8   accommodates               5555 non-null   int64
 9   bedrooms                   5555 non-null   int64
 10  beds                       5555 non-null   int64
 11  number_of_reviews          5555 non-null   int64
 12  bathrooms                  5555 non-null   int64
 13  price                      5555 non-null   int64
 14  cleaning_fee               5555 non-null   int64
 15  extra_people               5555 non-null   int64
 16  guests_included            5555 non-null   int64
 17  images                     5555 non-null   object
 18  review_scores              5555 non-null   int64
 19  host_id                    5555 non-null   object
 20  host_url                   5555 non-null   object
 21  host_name                  5555 non-null   object
 22  host_location              5555 non-null   object
 23  host_response_time         5555 non-null   object
 24  host_thumbnail_url         5555 non-null   object
 25  host_picture_url           5555 non-null   object
 26  host_neighbourhood         5555 non-null   object
 27  host_response_rate         5555 non-null   object
 28  host_is_superhost          5555 non-null   object
 29  host_has_profile_pic       5555 non-null   object
 30  host_identity_verified     5555 non-null   object
 31  host_listings_count        5555 non-null   int64
 32  host_total_listings_count  5555 non-null   int64
 33  host_verifications         5555 non-null   object
 34  street                     5555 non-null   object
 35  suburb                     5555 non-null   object
 36  government_area            5555 non-null   object
 37  market                     5555 non-null   object
 38  country                    5555 non-null   object
 39  country_code               5555 non-null   object
 40  location_type              5555 non-null   object
 41  longitude                  5555 non-null   float64
 42  latitude                   5555 non-null   float64
 43  is_location_exact          5555 non-null   object
 44  availability_30            5555 non-null   int64
 45  availability_60            5555 non-null   int64
 46  availability_90            5555 non-null   int64
 47  availability_365           5555 non-null   int64
 48  amenities                  5555 non-null   object
dtypes: float64(2), int64(18), object(29)
memory usage: 2.1+ MB

In [139]:
boolean_columns = ['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'is_location_exact']
merged_df[boolean_columns] = merged_df[boolean_columns].replace({True: 'Yes', False: 'No'})

In [140]:
merged_df.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,accommodates,bedrooms,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,8,3,...,PT,Point,-8.613080,41.141300,No,28,47,74,239,"[Bed linens, Buzzer/wireless intercom, Cable T..."
1,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,4,1,...,BR,Point,-43.230750,-22.966254,Yes,0,0,0,0,"[Buzzer/wireless intercom, Essentials, Family/..."
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,2,1,...,US,Point,-157.839190,21.286340,Yes,16,46,76,343,"[Air conditioning, BBQ grill, Bed linens, Cabl..."
3,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,1,1,...,US,Point,-73.936150,40.697910,Yes,0,0,0,0,"[Air conditioning, Buzzer/wireless intercom, C..."
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,2,1,...,BR,Point,-43.205047,-22.971951,Yes,28,58,88,363,"[24-hour check-in, Air conditioning, Buzzer/wi..."

In [136]:
merged_df.isnull().sum()

_id                          0
listing_url                  0
name                         0
property_type                0
room_type                    0
bed_type                     0
minimum_nights               0
maximum_nights               0
accommodates                 0
bedrooms                     0
beds                         0
number_of_reviews            0
bathrooms                    0
price                        0
cleaning_fee                 0
extra_people                 0
guests_included              0
images                       0
review_scores                0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
street                       0
suburb                       0
government_area              0
market                       0
country                      0
country_code                 0
location_type                0
longitude                    0
latitude                     0
is_location_exact            0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
amenities                    0
dtype: int64

In [142]:
merged_df.dtypes

_id                           object
listing_url                   object
name                          object
property_type                 object
room_type                     object
bed_type                      object
minimum_nights                 int64
maximum_nights                 int64
accommodates                   int64
bedrooms                       int64
beds                           int64
number_of_reviews              int64
bathrooms                      int64
price                          int64
cleaning_fee                   int64
extra_people                   int64
guests_included                int64
images                        object
review_scores                  int64
host_id                       object
host_url                      object
host_name                     object
host_location                 object
host_response_time            object
host_thumbnail_url            object
host_picture_url              object
host_neighbourhood            object
host_response_rate            object
host_is_superhost             object
host_has_profile_pic          object
host_identity_verified        object
host_listings_count            int64
host_total_listings_count      int64
host_verifications            object
street                        object
suburb                        object
government_area               object
market                        object
country                       object
country_code                  object
location_type                 object
longitude                    float64
latitude                     float64
is_location_exact             object
availability_30                int64
availability_60                int64
availability_90                int64
availability_365               int64
amenities                     object
dtype: object

In [143]:
merged_df.to_csv('final_airbnb.csv')